.container {
  /* border: 0.4rem solid var(--heliotrope); */
  /* animation: infinite 10s borderAnimation; */
  z-index: 100;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  border-radius: 10px;
}

@keyframes borderAnimation {
  0% {
    border: 0.4rem solid var(--heliotrope);
  }
  20% {
    border: 0.4rem solid var(--heliotrope);
  }
  40% {
    border: 0.4rem solid var(--niagara);
  }
  60% {
    border: 0.4rem solid var(--firebush);
  }
  80% {
    border: 0.4rem solid var(--heliotrope);
  }
  100% {
    border: 0.4rem solid var(--chambray);
  }
}
