.container {
  background-color: var(--bs-blue-light);
  z-index: 100;
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  border-radius: 0.8rem;
}

.divider {
  color: var(--text-color);
  text-align: center;
  font-size: 2rem;
  position: relative;
  width: 100%;
}
.divider:before {
  content: "";
  display: block;
  width: 20rem;
  height: 0.5rem;
  background: var(--rgba-primary-9);
  left: 0;
  top: 50%;
  position: absolute;
}
.divider:after {
  content: "";
  display: block;
  width: 20rem;
  height: 0.5rem;
  background: var(--rgba-primary-9);
  right: 0;
  top: 50%;
  position: absolute;
}
