.cyberContainer {
  --dark: #ff00ff;
  --cyan: #ff00ff;
  --tile-width: 360px;
  --tile-padding: 4px;
  --tile-edges: 20px;
  --label-margins: calc(var(--tile-edges) - var(--tile-padding));
  --fg: var(--black);
  --bg: transparent;
  --og-clip-path: polygon(
    0 0,
    0 calc(100% - var(--tile-edges)),
    var(--tile-edges) 100%,
    100% 100%,
    100% var(--tile-edges),
    calc(100% - var(--tile-edges)) 0
  );
  width: var(--tile-width);
  min-height: 60px;
  clip-path: var(--og-clip-path);
  padding: var(--tile-padding);
  padding-bottom: var(--tile-edges);
  color: var(--dark) !important;
  background-color: var(--cyan);
}
