.container {
  width: 100%;
}
.input {
  width: 100%;
  height: auto;
  border-radius: 0.8rem;
  font-size: 2rem;
  padding: 1.2rem 1.6rem;
  color: var(--text-color);
  outline: none;
  border: 0.0625rem solid rgba(255, 255, 255, 0.25);
  background-color: var(--input-primary);
}

.input:hover,
.input:focus {
  background-color: var(--input-hover);
}

.input::placeholder {
  visibility: hidden;
}

.label {
  font-size: 1.8rem;
  margin: 0 0 1.2rem 0.4rem;
  text-transform: lowercase;
  color: var(--bs-gray-600);
}
